.secondsearch-popup.dummy {
	-moz-appearance: none !important;
}

.secondsearch-popup.dummy,
.secondsearch-popup.dummy * {
	background: transparent !important;
	border-color: transparent !important;
	color: transparent !important;
	opacity: 0 !important;
	visibility: hidden !important;
}
