/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 1;
}

#search-field-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0.25em;
}

#search-field {
  flex-grow: 1;
  min-width: 10em;
}

#search-engines-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  max-height: 15em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

#search-engines {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-engines li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0.25em 0.35em;
}

#search-engines li:hover {
  background: Highlight;
  color: HighlightText;
}

#search-engines li.active {
  background: Highlight;
  color: HighlightText;
}

.favicon {
  max-height: 16px;
  max-width: 16px;
  width: 16px;
}

.label {
  flex-grow: 1;
  margin-left: 0.25em;
  text-overflow: elipsis;
  white-space: pre;
}
