/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 1;
}

#search-field-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0.25em;
}

#search-field {
  flex-grow: 1;
  min-width: 10em;
}

.search-engines-switcher {
  border-radius: 0.2em;
  opacity: 0.35;
  padding: 0.25em;
}

:root.by-name #switch-to-recently-used,
:root:not(.by-name) #switch-to-all {
  opacity: 0.75;
}
:root.by-name #switch-to-recently-used:hover,
:root:not(.by-name) #switch-to-all:hover {
  background: Highlight;
  color: HighlightText;
  opacity: 1;
}

#search-engines-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  max-height: 15em;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

#search-engines-container.building {
  visibility: hidden;
}

:root.by-name #search-engines-by-recently-used {
  opacity: 0;
  pointer-events: none:
}

#search-engines-by-name {
  position: absolute;
  left: var(--panel-width, 200%);
}
:root.by-name #search-engines-by-name {
  left: 0;
}

.search-engines {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  max-width: var(--panel-width, 100%);
  padding: 0;
  transition: left ease 0.15s,
              opacity ease 0.15s;
}

.search-engines li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0.25em 1.2em 0.25em 0.35em; /* right padding should be enough large to show scrollbar */
}

.search-engines li:hover {
  background: Highlight;
  color: HighlightText;
}

.search-engines li.active {
  background: Highlight;
  color: HighlightText;
}

.favicon {
  max-height: 16px;
  max-width: 16px;
  min-width: 16px;
}

.label {
  flex-grow: 1;
  margin-left: 0.25em;
  white-space: nowrap;
}
